<%- include('header.ejs', {title: "2021 " + title }); %>

  <div class="container " style="background-color: rgb(18, 18, 54);">
    <div class="vehicle align-items-center text-center">
      <img src="<%- info.url_image %> " class="col-12">
    </div>
    <h1 class="text-center col-12 text-light">
      <%- info.name %>
    </h1>
    <div class="row ">
      <div class="col-12 col-md-12">
        <div class="card mt-3">
          <h1 class="text-center">Pros</h1>
          <ul class="list-unstyled list-group">
            <%info.pros.forEach(item=> { %>
              <li class="list-group-item text-center list-group-item-action">
                <%- item %>
              </li>
              <%});%>
          </ul>
        </div>
      </div>

      <div class="col-12 col-md-12">
        <div class="card mt-3">
          <h1 class="text-center">Cons</h1>
          <ul class="list-unstyled list-group">
            <%info.cons.forEach(item=> { %>
              <li class="list-group-item text-center list-group-item-action">
                <%- item %>
              </li>
              <%});%>
          </ul>
        </div>
      </div>

      <div class="col-12 col-md-12">
        <div class="card mt-3">
          <h1 class="text-center">News</h1>
          <ul class="list-unstyled list-group">
            <%info.news.forEach(item=> { %>
              <li class="list-group-item text-center list-group-item-action">
                <%- item %>
              </li>
              <%});%>
          </ul>
        </div>
      </div>

      <div class="col-12 col-md-12">
        <div class="card mt-3">
          <h1 class="text-center">Expert Comment</h1>
          <ul class="list-unstyled list-group">
            <%info.comment.forEach(item=> { %>
              <li class="list-group-item text-center list-group-item-action">
                <%- item %>
              </li>
              <%});%>
          </ul>
        </div>
      </div>
    </div>
  </div>





  <%- include('footer.ejs'); %>